{% extends 'base.html' %}

{% block title %}Edit Blog{% endblock title %}
{% block style %}
table, th, td {
    width:1000px;
    padding:10px;
    border: 3px solid black;
    border-collapse: collapse;
    text-align:center;
  }
  
{% endblock style %}
{% block body %}

<div class="col d-flex justify-content-center">
    <h1 class="text-center mb-3 my-3" style="margin: 10px;"><span class="badge bg-info text-dark">Edit Blog Post</span></h1>
</div>
<div class="col d-flex justify-content-center">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Views</th>
                <th>Visibilty</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in pt %}
                <td><a href="/blog/{{i.slug}}" style="text-decoration:none; font-weight:bold;">{{i.title}}</a></td>
                <td>{{i.timestamp }}</td>
                <td>{{i.views}}</td>
                <td>
                    <button id="eyeb" ><a id="eyee" href="visible"><i class="fa fa-eye" ></i></a></button>
                </td>
                <td><a href="Edit/{{i.sno}}">Edit</a></td>
                <td><button><a href="delete/{{i.sno}}"><i class="fa fa-trash" style="color:red;"></i></a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.getElementById('eyeb').onclick = function() {
        if(document.getElementById('eyee').innerHTML === '<i class="fa fa-eye"></i>'){
        document.getElementById('eyee').innerHTML = '<i class="fa fa-eye-slash"></i>';
    }
        else{
            document.getElementById('eyee').innerHTML = '<i class="fa fa-eye"></i>';
        }
        }
        
    
    
    </script>
{% endblock body %}