{% extends 'base.html' %}

{% block title %}Create Blog{% endblock title %}
{% block style %}
#mytextarea {
height: 100vh;
}

.tox-notifications-container{
display: none;
}
.tox{
margin-left:20px;
margin-right:20px;
}
.postcontainer{
    margin:auto;
justify-content:center;
aling-item:center;
}
{% endblock style %}
{% block body %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#mytextarea',
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
            'forecolor backcolor emoticons | help',
        menu: {
            favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
        },
        menubar: 'favs file edit view insert format tools table help',
        content_css: 'css/content.css'
    });
    alert = function () { };
</script>
<div class="col d-flex justify-content-center">
    <h1 class="text-center mb-3 my-3 mr-3"><span class="badge bg-info text-dark ">Create Post</span></h1>
    <h1 class="text-center mb-3 my-3"><span class="badge bg-info text-dark "><a href="">Edit Blog</a></span></h1>
</div>

<div class="postcontainer" >
    <form method="post">
    
        <label for="title">Enter the Title</label>
        <input type="text" name="title" id="title"><br><br>
        <textarea id="mytextarea">Hello, World!</textarea><br>
        <label for="Author">Author</label>
        <input type="text" name="Author" id="Author"><br><br>
        <label for="Slug">Slug</label>
        <input type="text" name="Slug" id="Slug"><br><br>
        <label for="Date">Date</label>
        <input type="datetime-local" name="Date" id="Date"><br><br>
        <button type="submit" class="btn btn-success">Post</button>
    </form>
</div>
{% comment %} <button id="bt">Get Html</button>
<div id="myhtml"></div> {% endcomment %}

<script>
    bt.addEventListener('click', (e) => {
        console.log(e)
        myhtml.innerText = tinyMCE.get('mytextarea').getContent();
    })
</script>
{% endblock body %}